<div class="password-wrapper d-flex vh-100 justify-content-center align-items-center">
    <div class="password-card p-4 rounded-4 mt-9">
        <form [formGroup]="confirmForm" (ngSubmit)="onSubmit()">
            <div class="mb-4 p-4">
                <input type="password" placeholder="password" class="form-control" formControlName="password">
                <small class="error-message" *ngIf="confirmForm.controls['password'].invalid && confirmForm.controls['password'].touched">
                    <span *ngIf="confirmForm.get('password')?.errors?.['required']">Password is required</span>
                    <span *ngIf="confirmForm.get('password')?.errors?.['pattern']">
                        Password must be at least 8 characters and include one uppercase letter, one digit, and one special character.
                    </span>
                </small>
            </div>
            <div class="mb-4 p-4">
                <input type="password" placeholder="Confirm password" class="form-control" formControlName="confirmpassword">
                <small class="error-message" *ngIf="confirmForm.controls['confirmpassword'].invalid && confirmForm.controls['confirmpassword'].touched">
                    <span *ngIf="confirmForm.get('confirmpassword')?.errors?.['required']">Password is required</span>
                    <span *ngIf="confirmForm.get('confirmpassword')?.errors?.['passwordMismatch']">
                        Password mismatch.
                    </span>
                </small>    
            </div>
            <div class="d-flex justify-content-center mb-4">
                <button class=" btn1 btn w-10" type="submit" [disabled]="confirmForm.invalid" >Submit</button>
            </div>
             
        </form>
    </div>
</div>