.password-wrapper{
    background-image: url('src\assets\images\confirmPassword2.jpg');
    background-repeat: no-repeat;
    background-size: cover;
}
.password-card{
    width: 380px;
    background: linear-gradient(135deg,#8FC5ED,#1A134B);
}
.btn1{
    background-color: #0D99FF ;
}
.error-message{
    color: #ff3b3b ;
}
.success{
    background-color: white;
    
}