<div class="container">
 

   

   

    <div class="row mt-5 mx-md-n5 ">

    
        <div class="col px-md-5">
            <div class="p-3 border bg-light custom-radius text-center rounded-2">Interviews Scheduled 
                <h2 class="text-center">{{intervieweeList.length}}</h2>
            </div>
        </div>
        <div class="col px-md-5">
            <div class="p-3 border bg-light custom-radius text-center rounded-2">Applications Received
                <h2 class="text-center">{{applicantList.length}}</h2>
            </div>
        </div>
        <div class="col px-md-5">
            <div class="p-3 border bg-light custom-radius text-center rounded-2">Total Jobs Posted
                <h2 class="text-center">{{jobpostList.length}}</h2>
            </div>
        </div>
    </div>
    
    <div class="row mt-5 justify-content-center">
        <div class="col-md-9">
            <img src="../../../../assets/images/dashboard/smiling-hr-employer-.png" class="img-fluid">
        </div>
    </div>
    
</div>